@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import './normalize.css';

html {
  height: 100%;
  height: fill-available;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  overflow-y: auto;
  background-color: #F1F1F3;
  box-sizing: border-box;
}
